__pycache__
.DS_Store
*.pyc
venv/*
*.log
*/log/*
.idea
**/test/*
*/conf/local_config.py
**/local_celeryconfig.py
**/local_settings.py

.vscode
Pipfile.lock
doc/apidoc
NOC_api.md
venv/*
scripts/t1.py
**/scripts/entry.py
**/scripts/mytest.py
scripts/scan_device_info.py
log/temp.txt
data/*
**/*.tar.gz
frp_aio/bin/*

